<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../booksrecommended.css">
    <title>Document</title>
</head>
<body>
    Recommended Books
    <div id="fullCard">
        <div id="firstRow" class="singleRow">
            <div id="1by1" class="tile">
                <div class="recommendor">
                    Recommendor
                </div>
            </div>
            <div id="1by2" class="tile">
            </div>
            <div id="1by3" class="tile">
                <div class="recommendor">
                    Recommendor
                </div>
            </div>
            <div id="1by4" class="tile">

            </div>
            <div id="1by5" class="tile">
                <div class="recommendor">
                    Recommendor
                </div>
            </div>
        </div>
        <div id="secondRow" class="singleRow">
            <div id="2by1" class="tile">
            </div>
            <div id="2by2" class="tile">
                <img async class="bookImage" src="<%= data[0].imageUrl %>" />
            </div>
            <div id="2by3" class="tile">
                <img async class="bookImage" src="<%= data[1].imageUrl %>" />
            </div>
            <div id="2by4" class="tile">
                <img async class="bookImage" src="<%= data[2].imageUrl %>" />
            </div>
            <div id="2by5" class="tile">
            </div>
        </div>
        <div id="thirdRow" class="singleRow">
            <div id="3by1" class="tile">
                <div class="recommendor">
                    Recommendor
                </div>
            </div>
            <div id="3by2" class="tile">
                <img async class="bookImage" src="<%= data[3].imageUrl %>" />
            </div>
            <div id="3by3" class="tile">
                <img async class="bookImage" src="<%= data[4].imageUrl %>" />
            </div>
            <div id="3by4" class="tile">
                <img async class="bookImage" src="<%= data[5].imageUrl %>" />
            </div>
            <div id="3by5" class="tile">
                <div class="recommendor">
                    Recommendor
                </div>
            </div>
        </div>
        <div id="fourthRow" class="singleRow">
            <div id="4by1" class="tile">
            </div>
            <div id="4by2" class="tile">
                <img async class="bookImage" src="<%= data[6].imageUrl %>" />
            </div>
            <div id="4by3" class="tile">
                <img async class="bookImage" src="<%= data[7].imageUrl %>" />
            </div>
            <div id="4by4" class="tile">
                <img async class="bookImage" src="<%= data[8].imageUrl %>" />
            </div>
            <div id="4by5" class="tile">
            </div>
        </div>
        <div id="fifthRow" class="singleRow">
            <div id="5by1" class="tile">
                <div class="recommendor">
                    Recommendor
                </div>
            </div>
            <div id="5by2" class="tile">

            </div>
            <div id="5by3" class="tile">
                <div class="recommendor">
                    Recommendor
                </div>
            </div>
            <div id="5by4" class="tile">

            </div>
            <div id="5by5" class="tile">
                <div class="recommendor">
                    Recommendor
                </div>
            </div>
        </div>
    </div>
</body>
</html>